* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(taskmanager.png);
}

.upcontainer {
  width: 90%;
  max-width: 1800px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 48px;
  color: white;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}
.search-bar input {
  width: 600px;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 30px;
  border: 1px solid #166d3b;
  outline: none;
  font-size: 16px;
  color: #777;
  background-color: white;
}
h4 {
  font-size: 15px;
  font-weight: regular;
  color: #555;
  display: flex;
  padding: 10px;
  position: absolute;
}
.icon {
  width: 75px;
  height: 75px;
  background-image: url(me.png);
  background-size: cover;
  background-position: 6px;
  border-radius: 50%;
}

main {
  flex: 1;
}

footer {
  text-align: center;
}

footer pre {
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 20px;
  margin-right: 65px;
  font-size: 16px;
  letter-spacing: 3px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}
.taskm {
  width: 100%;
  max-width: 680px;
  background: #fff;
  margin: 120px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 20px;
}
.taskm h2 {
  color: #166d3b;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.taskm h2 img {
  width: 30px;
  margin-left: 10px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;  
}
button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #166d3b;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 40px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  margin-right: 70px;
  cursor: pointer;
  margin-top: 3px;
}
label {
  font-size: 12px;
  color: #555;
}
.date-time {
  font-size: 12px;
  color: #555;
  margin-left: 7px;
  padding-right: 10px;
  margin-top: 7px;
}
.edit-btn {
  background-image: url(edit.png);
  background-size: 23px 23px;
  background-repeat: no-repeat;
  background-position: center;
  width: 23px;
  height: 23px;
  border: none;
  padding: 20px;
  margin-left: 488px;
  margin-top: -4px;
  cursor: pointer;
  position: absolute;
}

.edit-btn::after {
  content: none;
}
.edit-btn:hover {
  background-color: #edeef0;
  border-radius: 50%;
}
.showdrpdwn-btn {
  background-image: url(dropdown2.png);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  width: 23px;
  height: 23px;
  border: none;
  padding: 20px;
  margin-left: 445px;
  margin-top: -4px;
  cursor: pointer;
  position: absolute;
  transition: transform 0.3s ease;
}

.showdrpdwn-btn::after {
  content: none;
}
.showdrpdwn-btn:hover {
  background-color: #edeef0;
  border-radius: 50%;
}

.task-dropdown {
  margin-left: 240px;
  padding: 5px;
  display: flex;
  position: absolute;
}
ul li {
  list-style: none;
  font-size: 21px;
  top: 50px;
  padding: 15px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  display: flex;
}
ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(unchecked.png);
  background-size: cover;
  background-position: center;
  top: 11px;
  left: 10px;
}
ul li.checked {
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before {
  background-image: url(checked.png);
}
ul li span {
  position: absolute;
  right: 0;
  top: 8px;
  width: 40px;
  height: 40px;
  font-size: 27px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
ul li span:hover {
  background-color: #edeef0;
}
