* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(taskmanager.png);
}

.upcontainer {
  width: 90%;
  max-width: 1800px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 48px;
  color: white;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}
.search-bar input {
  width: 600px;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 30px;
  border: 0px solid #166d3b;
  outline: none;
  font-size: 16px;
  color: #777;
  background-color: #efefef;
  box-shadow: 0px 4px 20px rgba(195, 195, 195, 0.6);
}
h4 {
  font-size: 15px;
  font-weight: regular;
  color: #555;
  display: flex;
  padding: 10px;
  position: absolute;
}
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
  cursor: pointer;
}
.toggle-switch h4{
  color: #9f9f9f;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 100px;
  margin-left: 410px;
  white-space: nowrap;   
  overflow: hidden;
  text-overflow: ellipsis;
}
.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-switch-background {
  position: absolute;
  top: 0;
  left: 550px;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffffff, #e6e6e6);
  border-radius: 20px;
  box-shadow: inset 0 0 0 2px #f1f1f1;
  transition: background-color 0.3s ease-in-out;
}

.toggle-switch-handle {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.toggle-switch::before {
  content: "";
  position: absolute;
  top: -25px;
  right: -35px;
  font-size: 12px;
  font-weight: bold;
  color: #aaa;
  text-shadow: 1px 1px #fff;
  transition: color 0.3s ease-in-out;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-handle {
  transform: translateX(45px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px #05c46b;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background {
  background: linear-gradient(90deg, #1b1b1b, #080808);
  box-shadow: inset 0 0 0 2px #111111;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch:before {
  content: "On";
  color: #05c46b;
  right: -15px;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background .toggle-switch-handle {
  transform: translateX(40px);
}

.icon {
  width: 75px;
  height: 75px;
  background-image: url(me.png);
  background-size: cover;
  background-position: 6px;
  border-radius: 50%;
}

main {
  flex: 1;
}

footer {
  text-align: center;
}

footer pre {
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 20px;
  margin-right: 65px;
  font-size: 16px;
  letter-spacing: 3px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}
.taskm {
  width: 100%;
  max-width: 680px;
  background: linear-gradient(90deg, #ffffff, #e6e6e6);
  margin: 120px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 20px;
}
.taskm h2 {
  color: #166d3b;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.taskm h2 img {
  width: 30px;
  margin-left: 10px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #edeef0;
  border-radius: 40px;
  padding-left: 20px;
  margin-bottom: 25px;
  box-shadow: 0px 4px 20px rgba(195, 195, 195, 0.6);
}
.row pre{
  font-size: 13px;
}
input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 25px;  
}
button {
  border: none;
  outline: none;
  padding: 25px 40px;
  background: #166d3b;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 0px 4px 15px rgba(22, 109, 59, 0.6);
}
input[type="date"]::-webkit-calendar-picker-indicator {
  margin-right: 10px;
  cursor: pointer;
  margin-top: 3px;
  background-color: #29bc4b;
  width: 17px;
  height: 17px;
  border-radius: 5px;
}
label {
  font-size: 12px;
  color: #555;
}
.date-time {
  font-size: 12px;
  color: #555;
  margin-left: 7px;
  padding-right: 10px;
  margin-top: 7px;
}
.edit-btn {
  background-image: url(edit.png);
  background-size: 23px 23px;
  background-repeat: no-repeat;
  background-position: center;
  width: 23px;
  height: 23px;
  border: none;
  padding: 20px;
  margin-left: 488px;
  margin-top: -4px;
  cursor: pointer;
  position: absolute;
}

.edit-btn::after {
  content: none;
}
.edit-btn:hover {
  background-color: #d9d9d9;
  border-radius: 50%;
}
.showdrpdwn-btn {
  background-image: url(dropdown2.png);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  width: 23px;
  height: 23px;
  border: none;
  padding: 20px;
  margin-left: 445px;
  margin-top: -4px;
  cursor: pointer;
  position: absolute;
  transition: transform 0.3s ease;
}

.showdrpdwn-btn::after {
  content: none;
}
.showdrpdwn-btn:hover {
  background-color: #d9d9d9;
  border-radius: 50%;
}

.task-dropdown {
  margin-left: 240px;
  padding: 5px;
  display: flex;
  position: absolute;
}
ul li {
  list-style: none;
  font-size: 21px;
  top: 40px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  display: flex;
}
ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(unchecked.png);
  background-size: cover;
  background-position: center;
  top: 11px;
  left: 10px;
}
ul li.checked {
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before {
  background-image: url(checked.png);
}
ul li span {
  position: absolute;
  right: 0;
  top: 8px;
  width: 40px;
  height: 40px;
  font-size: 27px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
ul li span:hover {
  background-color: #d9d9d9;
}
#task-manager-section.dark-mode .upcontainer{
  background: linear-gradient(90deg, #1b1b1b, #080808);
  color: #f5f5f5;
  border-radius: 20px;
}
#task-manager-section.dark-mode .row{
  background-color: #333;
  color: #f5f5f5;
  box-shadow: 0px 4px 20px rgba(50, 50, 50, 0.6);
}
#task-manager-section.dark-mode .search-bar input{
  box-shadow: 0px 4px 20px rgba(50, 50, 50, 0.6);
}
#task-manager-section.dark-mode .taskm{
  background: linear-gradient(90deg, #1b1b1b, #080808);
  color: #f5f5f5;
  width: 100%;
  max-width: 680px;
  margin: 120px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 20px;
}
#task-manager-section.dark-mode h4,
#task-manager-section.dark-mode label, #task-manager-section.dark-mode::placeholder{
  color: #f5f5f5;
}
#task-manager-section.dark-mode h2{
  color: #29bc4b;
}
#task-manager-section.dark-mode input, 
#task-manager-section.dark-mode button {
  background-color: #333;
  color: #fff;
}
#task-manager-section.dark-mode button {
  background-color: #29bc4b;
}
#task-manager-section.dark-mode .showdrpdwn-btn{
  background-image: url(dropdownwhite.png);
}
#task-manager-section.dark-mode .edit-btn{
  background-image: url(editwhite.png);
}
#task-manager-section.dark-mode ul li span{
  color: #f5f5f5;
}
#task-manager-section.dark-mode ul li::before{
  background-image: url(uncheckedbright.png);
}
#task-manager-section.dark-mode ul li.checked::before{
  background-image: url(checkedbright.png);
}
#task-manager-section.dark-mode ul li.checked{
  color: #f5f5f5;
}
#task-manager-section.dark-mode .task-dropdown{
  background-color: #1c1c1c;
  color: #f5f5f5;
}
#task-manager-section.dark-mode input[type="date"]::-webkit-calendar-picker-indicator{
  background-color: #29bc4b;
  width: 17px;
  height: 17px;
  border-radius: 5px;
}
#task-manager-section.dark-mode ul li span:hover, #task-manager-section.dark-mode .showdrpdwn-btn:hover,
#task-manager-section.dark-mode .edit-btn:hover{
  background-color: #333;
  border-radius: 50%;
}